<if success>
  <form>
    <div class="message success">
      <blockquote>
        <p class="instructions">
          Password change successful.
        </p>
      </blockquote>
    </div>
  </form>
</if>
<if password_mismatch>
  <form>
    <div class="message fail">
      <blockquote>
        <p class="instructions">
          Passwords empty or do not match.
        </p>
      </blockquote>
    </div>
  </form>
</if>
<form action="change_password_execution.php" method="post">
  <input type="hidden" name="previous_page" value="<var previous_page>"/>
  <fieldset>
    <legend>New Password</legend>
    <p class="text">
      <label for="password">New password:</label>
      <br/>
      <input type="password" name="password" id="password"/>
    </p>
    <p class="text">
      <label for="password_repeat">New password (again):</label>
      <br/>
      <input type="password" name="password_repeat" id="password_repeat"/>
    </p>
    <p class="submit_button">
      <input type="submit" value="Change password"/>
    </p>
  </fieldset>
</form>
